body{background-color: beige;
color: white;
font-family: ;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
   text-decoration: none;
}

:root {

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}