:root {
    --bgc-01: hsl(0, 0%, 100%);
    --txt-01: hwb(0 0% 100%);
}


body{background-color: white;
color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: var(--bgc-01);
    color: var(--txt-01);
    line-height: 1;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
    background-color: #EBF82B;
    
  }

header img{
  object-fit: cover;
  width: 75px;
  height: 75px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}

h3{
    color: black;
}
a{
    text-decoration: none;
    color: black;
}


footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #EBF82B;
    color: #333;
    
  }
  
  .grid h3 {
    margin-bottom: 10px;
  }
  
  .grid ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .grid ul li {
    margin-bottom: 5px;
  }
  
  .grid ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .grid ul li a:hover {
    color: black;
  }
  
  .copyight {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    font-size: 14px;
    margin-top: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
  }
  
  h3 {
    text-align: left;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 175px;
    grid-gap: 10px;
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    object-fit: cover;
    width: 90%;
    height: 150px
  }

  footer i {
    font-size: larger;
  }

  footer a {
    color: black;

  }

  .container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2rem;
  }

  .Infotekst{
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
  }

  img {
    width: 50%;
    padding-left: 3rm;

  }
  
  header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }
    #lineup .grid-container{
      grid-template-columns: 1fr;
    }
  }

  iframe {
    padding-top: 2rem;
    width: 100%;
    height: 50%;
  }