/* instelling vormgeving*/
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: white;
}

img {
  width: 100%;
  display: block;
}

.flex-container {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
}


header img {
  width: 50px;
  margin: 15px;
}

i {
  margin: 0.5rem;
}

nav a {
  text-decoration: none;
}

.videoframe {
  overflow: hidden;
  margin-bottom: 3rem;
  max-height: 100vh;
}

video {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-item {
  flex: 1;
  margin: auto;
  padding: 1.5rem;
}

#mini-shop {
  margin-bottom: 8rem;
}


figure {
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 12%;
  left: 15%;
}

.bgc-highlights {
  background-color: #ffeeddd;
}

.bgd-joinus {
  background-image: url("static/img/joinus.webp");
  background-size: cover;
  background-position: right;
}

footer {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-left {
  flex: 1;
  padding-right: 40px;
}

.footer-left h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-left ul li {
  margin-bottom: 10px;
}

.footer-left ul li a {
  color: #333;
  text-decoration: none;
}

.footer-left ul li a:hover {
  color: #d9d9d9;
}



.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}

.footer-right ul li a {
  color: #333;
  text-decoration: none;
}

.footer-right ul li a:hover {
  color: #d9d9d9;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
}

.social-icons a:hover {
  color: #d9d9d9;
}

.social-icons a:first-child {
  margin-left: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
}

.footer-bottom p {
  font-size: 14px;
  color: #777;
  margin: 0;
}