/* instelling vormgeving*/
*{margin: 0;
box-sizing: border-box;
padding: 0;}

body {background-color: grey;}

.flex-container {
    display: flex;
}

header nav li { 

}

header img{
width: 50px;
margin: 15px;
}

i{
    margin: 0.5rem;
}

nav a{
    text-decoration: none;
}